/* global css */
.ml-386{margin-left: 386px;transition: 0.5s;}


.Bodypart-wrapper{margin-top: 6rem;padding-top: 30px;transition: 0.5s;}

.menu-map{
    color: #ccc;
    margin-right: 60px;
}

.add-item.link-btn{
    color: #777;
}
.editor{margin-top: 5rem;padding: 15px;}
.editor p{line-height: 1.8;width: 100%;text-align: justify;}
.dark-theme.fr-toolbar .fr-command.fr-btn.fr-active{color: #f55862;}

@media (min-width:1600px){
    .ml-lg-386{margin-left: -386px;transition: 0.5s;}
    .ml-40r{margin-left: 40rem;}
}
@media (min-width : 768px) and (max-width : 1599px){
    .ml-40r{margin-left: 40rem;}
}
/* @media (max-width : 768px){
    .editor p{line-height: 1.8;width: 50%;text-align: justify;}
}
@media (max-width : 991px){
    .editor p{line-height: 1.8;width: 60%;text-align: justify;}
}
@media (min-width : 992px) and (max-width : 1599px){
    .editor p{line-height: 1.8;width: 60%;text-align: justify;}
} */
